body{
    background-image: url(../css/abiblur.png), url(../css/radial-gradient.png);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover; 
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.3fr 1fr 0.1fr;
    /*grid-template-areas: "navigation navigation navigation" "mainheader mainheader mainheader"
    ". contentbody .";*/
        /*grid-column-gap: 10px;
        grid-row-gap: 15px;*/
}
a:link{
    color: darkgray;
    font-family: "Poppins", sans-serif;
    text-decoration: unset;
    width: 25px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px; 
}
body a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    top: -27px;
    left: 1200px;
    background-color: #18d26e;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  body a:hover:before, body li:hover > a:before, body :active > a:before {
    visibility: visible;
    width: 25px;
  }
  
  body a:hover, body .active > a, body li:hover > a {
    color: rgb(255, 255, 255);
    text-decoration: ivory;
  }

.navigation{
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    border-bottom-style: solid;
}
.list{
    margin-top: 0%;
    margin-right: 20px;
    margin-left: 20px;
    float: right;
    font-family: "Poppins", sans-serif;
    color: darkgray;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    list-style: none;
    transition: ease-in-out 0.3s;
    padding-inline-start: 0%;
}
.sublist{
    margin-left: 30px;
    font-size: 16px;
}
.active{
    margin-left: 30px;
    font-size: 16px;
}


.contentbody{
    background-color: black;
    opacity: 80%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 32px;
    padding-left: 32px;
}
.subhead{
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}
.p1{
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
.basicinfo{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    color: gray;
}
.faceshot{
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 250px; 
}
.info{
    font-weight: 700;
    font-size: 26px;
    color: gray;
    font-family: "Open Sans", sans-serif;
}
.tag{
    margin-bottom: 8px;
    margin-top: 0px;
    font-stretch: expanded;
}
.listleft{
    
    margin-right: -15px;
    margin-left: -15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}
.listright{
    
    margin-right: -15px;
    margin-left: -15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}
.listleft>li{
    padding-bottom: 10px;
}
.listright>li{
    padding-bottom: 10px;
}
.p2{
    text-overflow: inherit ;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
}
.skills{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    color: gray;
}


@media only screen and (max-width: 600px) {

    .navigation { 
       font-size: 2em; 
       text-align: center;
       float: none;
    }
    .tagline{
        font-size: 20px
    }
 }    
