body{
    background-image: url(../css/abiblur.png), url(../css/radial-gradient.png);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover; 
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.3fr 1fr 0.1fr;
    /*grid-template-areas: "navigation navigation navigation" "mainheader mainheader mainheader"
    ". contentbody .";*/
        /*grid-column-gap: 10px;
        grid-row-gap: 15px;*/
}
a:link{
    color: darkgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: transparent;
    text-decoration-color: black;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}

.navigation{
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    border-bottom-style: solid;
    /*background-color: rgb(221, 183, 113);*/
    /*border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125);*/
}
.list{
    margin-top: 0%;
    margin-right: 20px;
    margin-left: 20px;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkgray;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    list-style: none;
    transition: ease-in-out 0.3s;
    padding-inline-start: 0%;
}
.sublist{
    margin-left: 30px;
}
.mainheader{
    margin-top: 50px;
    margin-bottom: 150px;
    width: 100%;
    color:darkgray;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: transparent;
    /*padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 32px;*/
    text-align: left;
}
img.profilepicture{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 25%;
    width: 11%;
    border-radius: 100%;
}
.name{
    margin-bottom: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 1px;
}
.tagline{
    /*margin-top: 0px;
    margin-bottom: 12px;*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
}
.contentbody{
    opacity: 50%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    max-width: 500px;
    float: left;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 32px;
    padding-left: 32px;
}
.aboutme{
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 26px;
    font-family:sans-serif ;   
}
.para1{
    text-overflow: inherit ;
    padding-left: 16px;
    padding-right: 16px;
    width: 448px;
    height: 336px;
    text-align: justify;
    font-family: sans-serif;
     
}
.contact{
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-left: 16px;
    padding-right: 16px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 25%;
    float: right;
    font-family:sans-serif;
    box-sizing: border-box;
    
}

@media only screen and (max-width: 600px) {

    .navigation { 
       font-size: 2em; 
       text-align: center;
       float: none;
    }
    .tagline{
        font-size: 20px
    }
    
 }    
