@import url("https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");

body {
  background-image: url(https://i.pinimg.com/originals/09/d8/01/09d801f666bfacd3cbb8be437396db18.gif),
    url(../src/radial-gradient.png);

  background-size: cover;
  background-blend-mode: multiply;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: ease-in-out;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
  color: gray;
}

a:link {
  color: darkgray;
  font-family: "Poppins", sans-serif;
  text-decoration: unset;

  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}
a:visited {
  color: darkgray;
}

body a:hover,
body .active > a,
body li:hover > a {
  color: rgb(255, 255, 255);
  text-decoration: ivory;
}
