@import url("https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div {
  color: gray;
}

a:link {
  color: darkgray;
  font-family: "Poppins", sans-serif;
  text-decoration: unset;

  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}
a:visited {
  color: darkgray;
}

body a:hover,
body .active > a,
body li:hover > a {
  color: rgb(255, 255, 255);
  text-decoration: ivory;
}
